/* grid area setup */
#wrapper {
  grid-template-areas:
    "header header"
    "regNav content"
    "footer footer";
  grid-template-columns: 150px auto;
  grid-template-rows: auto;
}

header {
  margin-left: 150px;

  height: 145px;
}
.hide {
  display: none;
}
nav {
  .hide {
    display: none;
  }
  height: 100%;
  ul li a {padding-left: 15px;}
}

main {

  section figure {
    width: 35vw;
  }

  section.picRt figure {
    float: right;
  }

  section.picLft figure {
    float: left;
  }
}

// footer {} // end footer
