$primaryColor: rgb(24, 117, 148);
$secondaryColor: #a56020;
$accent: rgb(98, 105, 111);
$fontColor: #0a1c3d;

$gutter: 2%;
$dblgutter: (2 * $gutter);

$defaultFont: 'Raleway', sans-serif;
$normalWeight:400;
$boldWeight:700;